{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Home Page</h1>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome </h1>
            <p>Welcome to this Amazing Blog </p>
            <p>Share your Thoughts and read amazing piece literature by others</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">View Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}